[COMMON]
senders = sender1@deloitte.com, sender3@deloitte.com
senders1 = sender1@deloitte.com,sender2@deloitte.com,sender3@deloitte.com
recipients = rahulkumasingh@deloitte.com, usisystemsdesignandengineeringcommunication@deloitte.com
recipients1 = usisystemsdesignandengineeringcommunication@deloitte.com,rahulkumasingh@deloitte.com,recipient1@deloitte.com,recipient2@deloitte.com,recipient3@deloitte.com
subject_contains = 
save_attachments = 1

[SYSTEM]
last_message_time = 
last_message_subject = 

